ul.fade-slide {
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
	overflow:hidden;
	width:50%;
}
ul.fade-slide  li {
	position: absolute;
	top:0;
	left:0;
	width:100%;
	opacity: 0;
	z-index: 0;
	-webkit-transition: opacity 1s ease-in-out 0s;
}
ul.fade-slide img{
	width:100%;
}
ul.fade-slide  li.active{
	z-index: 1;
	opacity:1;
}

ul.fade-slide li .message{
	position: absolute;
	bottom:1em;
	left:1em;
	background: rgba(255,255,255,.8);
	padding: .5em
}



.button{
	height:1em;
	width:1em;
	background: #fff;
	box-shadow: inset 0px 1px 3px #000;
	display: inline-block;
	border-radius: .5em;
	margin: .25em;
	-webkit-transition: background .5s ease-in-out 0s;
}
.button.active{
	background: #bbb;
}